body{
    background-color:  #f6f45e
}
.container{
        width: 800px;
        margin: auto;
        background-color:white;
}
.header ul li{
    display: inline-block;
    margin-left: 20px;
}
.cover {
    height: 400px;
    width: 800px;
    margin: auto;
    background-image: url(/img/ilustrasi-junk-food-istockphoto.jpg);
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: rgb(238, 227, 227);
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.box1{
    width: 800px;
    height: 1840px;
    background-color: burlywood;
}
.content-kiri{
    float: left;
    position: absolute;
    width: 70%;
    height: 2250px;
    background-color: rgb(206, 206, 42);
}
.content-kanan{
    position: top;
    width: 40%;
    height: 400px;
    margin-left: 100%;
    background-color: red;
}
.content h1{
    font-size: 30px;
    margin-left: 20px;
    background-color: rgb(128, 128, 233);
}
.content h4{
    margin-left: 20px;
}
.content p{
    margin-left: 20px;
    word-spacing: 0;
}
.product h1{
    font-size: 30px;
    margin-left: 20px;
}
.product h3{
    margin-left: 20px;
}
.product p{
    margin-left: 20px;
}
.services h1{
    font-size: 30px;
    margin-left: 20px;
}
.services h3{
    margin-left: 20px;
}
.services p{
    margin-left: 20px;
}
.services form{
    margin-left: 20px;
}
.about us h1{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.about us p{
    margin-left: 20px;
}
.footer{
    background-color: red;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.footer p{
    font-size: 20px;
}